body {
    font-size: 16px;
    font-family: 'Merriweather', serif;
    background-color: #f3f3f3;
}

h1 {
    font-size: 35px;
    font-weight: bold;
    text-align: right;
}

h2 {
    font-size: 20px;
}

h3 {
    color: #1654aa;
    font-size: 16px;
    margin-top: 20px;
}

p {
    color: #393939;
    margin-bottom: 20px;
}

i {
    font-size: 30px;
    padding: 10px;
}

a {
    color: #393939
}

a:hover {
    color: #1654aa;
}

div.box {
    margin: 5%;
}

div.row {
    display: flex;
}

div.col-40 {
    margin-top: 20px;
    width: 40%;
}

div.col-60 {
    width: 60%;
}

div.photo-container {
    width: 80%;
}

div.social {
    margin-top: 40px;
    text-align: center;
}

img.photo {
    width: 100%;
    border-radius: 2%;
    pointer-events: none;
}