body {
    font-size: 16px;
    font-family: 'Merriweather', serif;
    background-color: #f3f3f3;
}

h1 {
    color: #393939;
    font-size: 25px;
    font-weight: bold;
    text-align: right;
}

h2 {
    font-size: 20px;
}

h3 {
    color: #1654aa;
    font-size: 16px;
    margin-top: 20px;
}

p {
    color: #393939;
    margin-bottom: 20px;
}

i {
    font-size: 25px;
    padding: 15px 15px 15px 0px;
}

a {
    color: #393939
}

a:hover {
    color: #1654aa;
}

div.box {
    margin: 0% 5% 5% 5%;
}

div.row {
    display: flex;
    flex-wrap: wrap;
}

div.banner-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

div.col-40 {
    width: 40%;
}

div.col-50 {
    width: 50%;
}

div.col-60 {
    width: 60%;
}

.left-pad {
    margin-left: 10%;
}

.right-pad {
    margin-right: 10%;
}

div.photo-container {
    padding-top: 20px;
    width: 80%;
}

div.social {
    text-align: left;
    align-self: auto;
}

img.photo {
    width: 100%;
    border-radius: 2%;
    pointer-events: none;
    max-width: 400px;
}

@media screen and (max-width: 610px) {
    div.row {
      flex-direction: column;
    }

    div.col-40, div.col-60 {
        width: 100%;
    }

    h1 {
        font-size: 20px;
    }

    i {
        font-size: 20px;
        padding: 10px;
    }

    h3 {
        margin-top: 0px;
    }

    div.photo-container {
        width: 50%;
        margin: auto;
    }
  }